<html lang="en-US"><head><style type="text/css">.gm-control-active img{box-sizing:content-box;pointer-events:none}.gm-control-active:hover img:nth-child(1),.gm-control-active:active img:nth-child(1),.gm-control-active:active img:nth-child(2){display:none}
</style><link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"><style type="text/css">.gm-ui-hover-effect{opacity:.7}.gm-ui-hover-effect:hover{opacity:1}
</style><style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px;box-sizing:border-box}
</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="./php">

	<title>Happy Real – Real Estate &amp; Renting &lt;br&gt;WordPress Theme</title>
<meta property="og:title" content="Recent Properties"><link rel="alternate" type="application/rss+xml" title="Happy Real » Feed" href="./">
<link rel="alternate" type="application/rss+xml" title="Happy Real » Comments Feed" href="./feed/">
<link rel="alternate" type="application/rss+xml" title="Happy Real » Recent Properties Comments Feed" href="./map/feed/">
		<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"http:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/preview.byaviators.com\/theme\/realia\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.1"}};
			!function(a,b,c){function d(a){var c,d=b.createElement("canvas"),e=d.getContext&&d.getContext("2d");return e&&e.fillText?(e.textBaseline="top",e.font="600 32px Arial","flag"===a?(e.fillText(String.fromCharCode(55356,56806,55356,56826),0,0),d.toDataURL().length>3e3):"diversity"===a?(e.fillText(String.fromCharCode(55356,57221),0,0),c=e.getImageData(16,16,1,1).data.toString(),e.fillText(String.fromCharCode(55356,57221,55356,57343),0,0),c!==e.getImageData(16,16,1,1).data.toString()):("simple"===a?e.fillText(String.fromCharCode(55357,56835),0,0):e.fillText(String.fromCharCode(55356,57135),0,0),0!==e.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script><script src="./includes/js/wp-emoji-release.min.js?ver=4.4.1" type="text/javascript"></script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel="stylesheet" id="mapescape.css-css" href="./content/plugins/HappyReal/libraries/mapescape/css/mapescape.css?ver=20160604" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="./content/plugins/contact-form-7/includes/css/styles.css?ver=4.3.1" type="text/css" media="all">
<link rel="stylesheet" id="owl.carousel-css" href="./content/plugins/HappyReal-property-carousel/libraries/owl.carousel/assets/owl.carousel.css?ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" id="fontawesome-css" href="./content/themes/HappyReal/assets/libraries/font-awesome-4.7.0/css/font-awesome.min.css?ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" id="open-sans-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&amp;subset=latin%2Clatin-ext&amp;ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" id="colorbox-css" href="./content/themes/HappyReal/assets/libraries/colorbox/example1/colorbox.css?ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" id="pictopro-css" href="./content/themes/HappyReal/assets/libraries/fonts/PictoPro/style.css?ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" id="HappyReal-css-css" href="./content/themes/HappyReal/assets/css/HappyReal.css?ver=20170117" type="text/css" media="all">
<link rel="stylesheet" id="style-css" href="./content/themes/HappyReal/style.css?ver=4.4.1" type="text/css" media="all">
<!-- <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyD86DebZJbh6ErVo_W_RcM5eyvRL9VH7Xo&amp;libraries=weather%2Cgeometry%2Cvisualization%2Cplaces%2Cdrawing&amp;ver=4.4.1"></script> -->
<script type="text/javascript" src="./includes/js/jquery/jquery.js?ver=1.11.3"></script>
<script type="text/javascript" src="./includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal/libraries/jquery.chained.remote.custom.min.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/themes/HappyReal/assets/libraries/bootstrap/javascripts/bootstrap/collapse.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/themes/HappyReal/assets/js/HappyReal.js?ver=20161017"></script>
<link rel="https://api.w.org/" href="./json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="./php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="./includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 4.4.1">
<link rel="canonical" href="./<link rel="shortlink" href="./<script type="text/javascript">
<link rel="https://github.com/WP-API/WP-API" href="./json">
</head>

<body class="home page page-id-268 page-template-default">

<div class="page-wrapper">
	<div class="header">
		<nav class="navbar navbar-default">
			<div class="header-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-menu" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<a class="navbar-brand" href="./															<img src="./content/uploads/2015/07/logo.png" alt="Home">
							
							<span>Happy Real</span>
						</a>

																			<p class="navbar-text">Real Estate &amp; Renting <br>WordPress Theme</p>
											</div><!-- /.navbar-header -->

											<div class="navbar-info">
							<i class="pp pp-normal-pencil"></i> info@example.com						</div><!-- /.navbar-info -->
					
											<div class="navbar-info">
							<i class="pp pp-normal-phone"></i> +123-456-789						</div><!-- /.navbar-info -->
					

											<a href="/theme/HappyReal/create-property/" class="btn btn-secondary btn-lg pull-right navbar-btn">
							Submit Property <i class="pp pp-normal-right-arrow-small"></i>
						</a>
									</div><!-- /.container -->
			</div><!-- /.header-top -->

			
							<div class="header-bottom">
					<div class="container"><div class="menu-primary-container"><ul id="primary-menu" class="nav navbar-nav navbar-right collapse navbar-collapse"><li id="menu-item-449" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-449"><a href="/theme/HappyReal/">Home</a>
<ul class="dropdown-menu sub-menu">
	<li id="menu-item-512" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-268 current_page_item menu-item-512"><a href="./roperty Map</a></li>
	<li id="menu-item-568" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-568"><a href="./slider/">Property Slider</a></li>
</ul>
</li>
<li id="menu-item-450" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-450"><a href="/theme/HappyReal/properties/">Properties</a>
<ul class="dropdown-menu sub-menu">
	<li id="menu-item-492" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-492"><a href="/theme/HappyReal/properties">Row Listing</a></li>
	<li id="menu-item-514" class="menu-item menu-item-type-post_type menu-item-object-property menu-item-514"><a href="./south-mervin-boulevard/">Property Detail</a></li>
	<li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-454"><a href="#">Location</a>
	<ul class="dropdown-menu sub-menu">
		<li id="menu-item-457" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-457"><a href="./new-york-city/brooklyn/">Brooklyn</a></li>
		<li id="menu-item-460" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-460"><a href="./new-york-city/the-bronx/">The Bronx</a></li>
		<li id="menu-item-456" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-456"><a href="./new-york-city/manhattan/">Manhattan</a></li>
		<li id="menu-item-458" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-458"><a href="./new-york-city/queens/">Queens</a></li>
		<li id="menu-item-459" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-459"><a href="./new-york-city/staten-island/">Staten Island</a></li>
	</ul>
</li>
	<li id="menu-item-455" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-455"><a href="#">Property Type</a>
	<ul class="dropdown-menu sub-menu">
		<li id="menu-item-461" class="menu-item menu-item-type-taxonomy menu-item-object-property_types menu-item-461"><a href="./type/apartment/">Apartment</a></li>
		<li id="menu-item-462" class="menu-item menu-item-type-taxonomy menu-item-object-property_types menu-item-462"><a href="./type/building-area/">Building area</a></li>
		<li id="menu-item-463" class="menu-item menu-item-type-taxonomy menu-item-object-property_types menu-item-463"><a href="./type/condo/">Condo</a></li>
		<li id="menu-item-464" class="menu-item menu-item-type-taxonomy menu-item-object-property_types menu-item-464"><a href="./type/house/">House</a></li>
		<li id="menu-item-465" class="menu-item menu-item-type-taxonomy menu-item-object-property_types menu-item-465"><a href="./type/villa/">Villa</a></li>
	</ul>
</li>
	<li id="menu-item-480" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-480"><a href="#">Material</a>
	<ul class="dropdown-menu sub-menu">
		<li id="menu-item-481" class="menu-item menu-item-type-taxonomy menu-item-object-materials menu-item-481"><a href="./block/">Block</a></li>
		<li id="menu-item-482" class="menu-item menu-item-type-taxonomy menu-item-object-materials menu-item-482"><a href="./brick/">Brick</a></li>
		<li id="menu-item-483" class="menu-item menu-item-type-taxonomy menu-item-object-materials menu-item-483"><a href="./mixed/">Mixed</a></li>
		<li id="menu-item-484" class="menu-item menu-item-type-taxonomy menu-item-object-materials menu-item-484"><a href="./prefab/">Prefab</a></li>
		<li id="menu-item-485" class="menu-item menu-item-type-taxonomy menu-item-object-materials menu-item-485"><a href="./stone/">Stone</a></li>
		<li id="menu-item-486" class="menu-item menu-item-type-taxonomy menu-item-object-materials menu-item-486"><a href="./wood/">Wood</a></li>
	</ul>
</li>
	<li id="menu-item-487" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-487"><a href="#">Status</a>
	<ul class="dropdown-menu sub-menu">
		<li id="menu-item-488" class="menu-item menu-item-type-taxonomy menu-item-object-statuses menu-item-488"><a href="./available/">Available</a></li>
		<li id="menu-item-489" class="menu-item menu-item-type-taxonomy menu-item-object-statuses menu-item-489"><a href="./rent-agreed/">Rent Agreed</a></li>
		<li id="menu-item-490" class="menu-item menu-item-type-taxonomy menu-item-object-statuses menu-item-490"><a href="./reserved/">Reserved</a></li>
		<li id="menu-item-491" class="menu-item menu-item-type-taxonomy menu-item-object-statuses menu-item-491"><a href="./sell-agreed/">Sell Agreed</a></li>
	</ul>
</li>
	<li id="menu-item-479" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-479"><a href="#">Amenities</a>
	<ul class="dropdown-menu sub-menu">
		<li id="menu-item-472" class="menu-item menu-item-type-taxonomy menu-item-object-amenities menu-item-472"><a href="./air-conditioning/">Air conditioning</a></li>
		<li id="menu-item-473" class="menu-item menu-item-type-taxonomy menu-item-object-amenities menu-item-473"><a href="./heating/">Heating</a></li>
		<li id="menu-item-471" class="menu-item menu-item-type-taxonomy menu-item-object-amenities menu-item-471"><a href="./internet/">Internet</a></li>
		<li id="menu-item-475" class="menu-item menu-item-type-taxonomy menu-item-object-amenities menu-item-475"><a href="./dvd/">DVD</a></li>
		<li id="menu-item-474" class="menu-item menu-item-type-taxonomy menu-item-object-amenities menu-item-474"><a href="./computer/">Computer</a></li>
		<li id="menu-item-469" class="menu-item menu-item-type-taxonomy menu-item-object-amenities menu-item-469"><a href="./lift/">Lift</a></li>
		<li id="menu-item-476" class="menu-item menu-item-type-taxonomy menu-item-object-amenities menu-item-476"><a href="./bedding/">Bedding</a></li>
		<li id="menu-item-477" class="menu-item menu-item-type-taxonomy menu-item-object-amenities menu-item-477"><a href="./cleaning-after-exit/">Cleaning after exit</a></li>
		<li id="menu-item-478" class="menu-item menu-item-type-taxonomy menu-item-object-amenities menu-item-478"><a href="./cofee-pot/">Cofee pot</a></li>
		<li id="menu-item-470" class="menu-item menu-item-type-taxonomy menu-item-object-amenities menu-item-470"><a href="./hairdryer/">Hairdryer</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-466" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-466"><a href="#">Pages</a>
<ul class="dropdown-menu sub-menu">
	<li id="menu-item-771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-771"><a href="./">Pricing</a></li>
	<li id="menu-item-451" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-451"><a href="/theme/realia/agencies/">Agencies</a></li>
	<li id="menu-item-467" class="menu-item menu-item-type-post_type menu-item-object-agency menu-item-467"><a href="./realcity/">Agency Detail</a></li>
	<li id="menu-item-452" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-452"><a href="/theme/realia/agents/">Agents</a></li>
	<li id="menu-item-468" class="menu-item menu-item-type-post_type menu-item-object-agent menu-item-468"><a href="./andrew-man/">Agent Detail</a></li>
	<li id="menu-item-528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-528"><a href="./">Blog</a></li>
	<li id="menu-item-530" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-530"><a href="./06/22/vestibulum-aliquet-aliq/">Blog Detail</a></li>
	<li id="menu-item-834" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-834"><a href="./">FAQ</a></li>
</ul>
</li>
<li id="menu-item-453" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-453"><a href="#">Submission</a>
<ul class="dropdown-menu sub-menu">
	<li id="menu-item-496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496"><a href="./property/">Create Property</a></li>
	<li id="menu-item-497" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-497"><a href="./properties/">My Properties</a></li>
	<li id="menu-item-495" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-495"><a href="./">Transactions</a></li>
	<li id="menu-item-498" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-498"><a href="./">Register</a></li>
	<li id="menu-item-499" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-499"><a href="./">Logout</a></li>
	<li id="menu-item-500" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-500"><a href="./">Login</a></li>
	<li id="menu-item-515" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-515"><a href="./profile/">Edit User Profile</a></li>
	<li id="menu-item-522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-522"><a href="./agent-profile/">Edit Agent Profile</a></li>
	<li id="menu-item-516" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-516"><a href="./password/">Change Password</a></li>
</ul>
</li>
<li id="menu-item-494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-494"><a href="./">Contact</a></li>
</ul></div></div><!-- /.container -->
				</div><!-- /.header-bottom -->
					</nav>
	</div><!-- /.header -->

	<div class="main">
		


		<div class="container">
				<div class="sidebar-top">
		

<div id="filter_rent_sale_widget-2" class="widget widget_filter_rent_sale_widget">

<div class="tabs ">
	<ul class="tabs-navigation">
		
		
								<li class="rent active"><a href="#filter_rent_sale_widget-2-rent">Rent</a></li>
								<li class="sale "><a href="#filter_rent_sale_widget-2-sale">Sale</a></li>
		
		<li class="link last">
    <a href="./?filter-sticky=1">TOP</a>
</li>

<li class="link">
    <a href="./?filter-sold=1">Sold</a>
</li>

<li class="link">
    <a href="./?filter-reduced=1">Reduced</a>
</li>

<li class="link">
    <a href="./?filter-featured=1">Featured</a>
</li>

<li class="link">
    <a href="./">All properties</a>
</li>

	</ul>

	
	<div class="tabs-content">

			
		<div class="tab-content rent-tab active" id="filter_rent_sale_widget-2-rent">
			<form method="get" action="./">
				
															<input type="hidden" name="fbclid" value="IwAR1Na500MHKnbIueVl7oeqegxPrp6gtbVko7PkVcmmu0FjVl31kHJ1RjIXQ">
									
				<input type="hidden" name="filter-contract" value="RENT">

				
				
																																																												<div class="form-group">
			
			<select class="form-control" name="filter-location" id="rent_filter_rent_sale_widget-2_location">
				<option value="">
											Location									</option>

				
															<option value="40">New York City</option>

						
																					<option value="51">
									»&nbsp; Brooklyn								</option>

								
																																								<option value="52">
									»&nbsp; Manhattan								</option>

								
																																								<option value="42">
									»&nbsp; Queens								</option>

								
																																								<option value="46">
									»&nbsp; Staten Island								</option>

								
																																								<option value="48">
									»&nbsp; The Bronx								</option>

								
																																																		</select>
		</div><!-- /.form-group -->
																					<div class="form-group">
		
		<select class="form-control" name="filter-property-type" id="rent_filter_rent_sale_widget-2_property_type">
			
			<option value="">
									Property type							</option>

												<option value="13">
						Apartment					</option>

					
																									<option value="19">
						Building area					</option>

					
																									<option value="24">
						Condo					</option>

					
																									<option value="34">
						House					</option>

					
																									<option value="49">
						Villa					</option>

					
																									</select>
	</div><!-- /.form-group -->
																																																																													<div class="form-group">
		
		<input type="number" min="0" pattern="\d*" name="filter-price-from" placeholder="Price from" class="form-control" value="" id="rent_filter_rent_sale_widget-2_price_from">
	</div><!-- /.form-group -->

	<div class="form-group">
		
		<input type="number" min="0" pattern="\d*" name="filter-price-to" placeholder="Price to" class="form-control" value="" id="rent_filter_rent_sale_widget-2_price_to">
	</div><!-- /.form-group -->
																																																																																																																																																																																																																					
									<div class="form-group">
						<button class="button">Filter</button>
					</div><!-- /.form-group -->
							</form>
		</div>

			
		<div class="tab-content sale-tab " id="filter_rent_sale_widget-2-sale">
			<form method="get" action="./">
				
															<input type="hidden" name="fbclid" value="IwAR1Na500MHKnbIueVl7oeqegxPrp6gtbVko7PkVcmmu0FjVl31kHJ1RjIXQ">
									
				<input type="hidden" name="filter-contract" value="SALE">

				
				
																			    <div class="form-group">
        
        <input type="text" name="filter-property-title" class="form-control" placeholder="Property title" value="" id="sale_filter_rent_sale_widget-2_property_title">
    </div><!-- /.form-group -->
																																																																																																<div class="form-group">
		
		<select class="form-control" name="filter-status" id="sale_filter_rent_sale_widget-2_status">
			
			<option value="">
									Status							</option>

												<option value="14">Available</option>
									<option value="43">Rent Agreed</option>
									<option value="44">Reserved</option>
									<option value="45">Sell Agreed</option>
									</select>
	</div><!-- /.form-group -->
																																							<div class="form-group">
		
		<input type="number" min="0" pattern="\d*" name="filter-price-from" placeholder="Price from" class="form-control" value="" id="sale_filter_rent_sale_widget-2_price_from">
	</div><!-- /.form-group -->

	<div class="form-group">
		
		<input type="number" min="0" pattern="\d*" name="filter-price-to" placeholder="Price to" class="form-control" value="" id="sale_filter_rent_sale_widget-2_price_to">
	</div><!-- /.form-group -->
																																																																																																																																																																																																																					
									<div class="form-group">
						<button class="button">Filter</button>
					</div><!-- /.form-group -->
							</form>
		</div>

	
	</div>
</div>

</div>	</div><!-- /.sidebar -->

			
<div class="row">
	<div class="content col-sm-8 col-md-9">
		
									
<article id="post-268" class="post-268 page type-page status-publish hentry">
	
	<header class="entry-header page-header">
					<h1>Recent Properties</h1>
			</header><!-- .entry-header -->

	<div class="entry-content">
		<div class="row">
<div class="col-sm-8"></div>
</div>

			</div><!-- .entry-content -->
</article><!-- #post-## -->			
					
		

<div id="properties_widget-3" class="widget widget_properties_widget">

	
			
		<div class="type-box item-per-row-3">
						<div class="properties-row">
				
												<div class="property-container">
										


<div class="property-box">
    <div class="property-box-image ">
        <a href="./south-mervin-boulevard/" class="property-box-image-inner ">
			
            				<img width="270" height="226" src="./content/uploads/2015/06/5388662544_96ca3f71c1_o-270x226.jpg" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
			<div class="property-box-image-price">
    $ 220,000</div><!-- /.property-box-image-price -->

                        
                            <span class="property-badge">Featured / Reduced</span>
            
                            <span class="property-badge property-badge-sticky">TOP</span>
                    </a>
    </div><!-- /.property-image -->

    <div class="property-box-content">
        <div class="property-box-title">
	        
            <h3><a href="./south-mervin-boulevard/">South Mervin Boulevard</a></h3>

	                </div><!-- /.property-box-title -->

	    <div class="property-box-body">
		    
	        	        	            <div class="property-box-type">
	                Villa	            </div><!-- /.property-box-type -->
	        
	        	        	            <div class="property-box-price">
	                $ 220,000	            </div><!-- /.property-box-price -->
	        
		    <div class="property-box-read-more">
			    <a href="./south-mervin-boulevard/">Read More</a>
		    </div><!-- /.property-box-price -->

		    <div class="property-box-meta">
                <span class="property-box-meta-item property-box-meta-item-area">
            <i class="pp pp-normal-cursor-scale-up"></i> 140 sqft        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-beds">
            <i class="pp pp-normal-bed"></i> 3        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-baths">
            <i class="pp pp-normal-shower"></i> 4        </span><!-- /.property-box-meta-item -->
    </div><!-- /.property-box-meta -->
	    </div><!-- /.property-box-body -->
    </div><!-- /.property-box-content -->
</div>
				</div><!-- /.property-container -->

				
												<div class="property-container">
										


<div class="property-box">
    <div class="property-box-image ">
        <a href="./north-parchmore-street/" class="property-box-image-inner ">
			
            				<img width="270" height="226" src="./content/uploads/2015/06/5388661724_859d557469_o-270x226.jpg" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
			<div class="property-box-image-price">
    $ 340,000</div><!-- /.property-box-image-price -->

                        
            
                    </a>
    </div><!-- /.property-image -->

    <div class="property-box-content">
        <div class="property-box-title">
	        
            <h3><a href="./north-parchmore-street/">North Parchmore Street</a></h3>

	                </div><!-- /.property-box-title -->

	    <div class="property-box-body">
		    
	        	        	            <div class="property-box-type">
	                House	            </div><!-- /.property-box-type -->
	        
	        	        	            <div class="property-box-price">
	                $ 340,000	            </div><!-- /.property-box-price -->
	        
		    <div class="property-box-read-more">
			    <a href="./north-parchmore-street/">Read More</a>
		    </div><!-- /.property-box-price -->

		    <div class="property-box-meta">
                <span class="property-box-meta-item property-box-meta-item-area">
            <i class="pp pp-normal-cursor-scale-up"></i> 150 sqft        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-beds">
            <i class="pp pp-normal-bed"></i> 2        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-baths">
            <i class="pp pp-normal-shower"></i> 3        </span><!-- /.property-box-meta-item -->
    </div><!-- /.property-box-meta -->
	    </div><!-- /.property-box-body -->
    </div><!-- /.property-box-content -->
</div>
				</div><!-- /.property-container -->

				
												<div class="property-container">
										


<div class="property-box">
    <div class="property-box-image ">
        <a href="./apricot-west-britford-arch/" class="property-box-image-inner ">
			
            				<img width="270" height="226" src="./content/uploads/2015/06/5388658984_72f0ca75aa_o-1-270x226.jpg" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
			<div class="property-box-image-price">
    $ 125,000</div><!-- /.property-box-image-price -->

                        
                            <span class="property-badge">Featured</span>
            
                            <span class="property-badge property-badge-sticky">TOP</span>
                    </a>
    </div><!-- /.property-image -->

    <div class="property-box-content">
        <div class="property-box-title">
	        
            <h3><a href="./apricot-west-britford-arch/">Apricot West Britford Arch</a></h3>

	                </div><!-- /.property-box-title -->

	    <div class="property-box-body">
		    
	        	        	            <div class="property-box-type">
	                Apartment	            </div><!-- /.property-box-type -->
	        
	        	        	            <div class="property-box-price">
	                $ 125,000	            </div><!-- /.property-box-price -->
	        
		    <div class="property-box-read-more">
			    <a href="./apricot-west-britford-arch/">Read More</a>
		    </div><!-- /.property-box-price -->

		    <div class="property-box-meta">
                <span class="property-box-meta-item property-box-meta-item-area">
            <i class="pp pp-normal-cursor-scale-up"></i> 125 sqft        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-beds">
            <i class="pp pp-normal-bed"></i> 3        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-baths">
            <i class="pp pp-normal-shower"></i> 4        </span><!-- /.property-box-meta-item -->
    </div><!-- /.property-box-meta -->
	    </div><!-- /.property-box-body -->
    </div><!-- /.property-box-content -->
</div>
				</div><!-- /.property-container -->

							</div><div class="properties-row">
				
												<div class="property-container">
										


<div class="property-box">
    <div class="property-box-image ">
        <a href="./south-celler-court/" class="property-box-image-inner ">
			
            				<img width="270" height="226" src="./content/uploads/2015/06/5388655270_3a8c3c8799_o-270x226.jpg" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
			<div class="property-box-image-price">
    $ 225,000</div><!-- /.property-box-image-price -->

                        
            
                    </a>
    </div><!-- /.property-image -->

    <div class="property-box-content">
        <div class="property-box-title">
	        
            <h3><a href="./south-celler-court/">South Celler Court</a></h3>

	                </div><!-- /.property-box-title -->

	    <div class="property-box-body">
		    
	        	        	            <div class="property-box-type">
	                Building area	            </div><!-- /.property-box-type -->
	        
	        	        	            <div class="property-box-price">
	                $ 225,000	            </div><!-- /.property-box-price -->
	        
		    <div class="property-box-read-more">
			    <a href="./south-celler-court/">Read More</a>
		    </div><!-- /.property-box-price -->

		    <div class="property-box-meta">
                <span class="property-box-meta-item property-box-meta-item-area">
            <i class="pp pp-normal-cursor-scale-up"></i> 160 sqft        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-beds">
            <i class="pp pp-normal-bed"></i> 4        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-baths">
            <i class="pp pp-normal-shower"></i> 5        </span><!-- /.property-box-meta-item -->
    </div><!-- /.property-box-meta -->
	    </div><!-- /.property-box-body -->
    </div><!-- /.property-box-content -->
</div>
				</div><!-- /.property-container -->

				
												<div class="property-container">
										


<div class="property-box">
    <div class="property-box-image ">
        <a href="./ely-parkway/" class="property-box-image-inner ">
			
            				<img width="270" height="226" src="./content/uploads/2015/06/5388654584_646ed56dd3_o-270x226.jpg" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
			<div class="property-box-image-price">
    $ 350,000</div><!-- /.property-box-image-price -->

                        
            
                    </a>
    </div><!-- /.property-image -->

    <div class="property-box-content">
        <div class="property-box-title">
	        
            <h3><a href="./ely-parkway/">Ely Parkway</a></h3>

	                </div><!-- /.property-box-title -->

	    <div class="property-box-body">
		    
	        	        	            <div class="property-box-type">
	                Apartment	            </div><!-- /.property-box-type -->
	        
	        	        	            <div class="property-box-price">
	                $ 350,000	            </div><!-- /.property-box-price -->
	        
		    <div class="property-box-read-more">
			    <a href="./ely-parkway/">Read More</a>
		    </div><!-- /.property-box-price -->

		    <div class="property-box-meta">
                <span class="property-box-meta-item property-box-meta-item-area">
            <i class="pp pp-normal-cursor-scale-up"></i> 250 sqft        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-beds">
            <i class="pp pp-normal-bed"></i> 4        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-baths">
            <i class="pp pp-normal-shower"></i> 5        </span><!-- /.property-box-meta-item -->
    </div><!-- /.property-box-meta -->
	    </div><!-- /.property-box-body -->
    </div><!-- /.property-box-content -->
</div>
				</div><!-- /.property-container -->

				
												<div class="property-container">
										


<div class="property-box">
    <div class="property-box-image ">
        <a href="./eaton-garth/" class="property-box-image-inner ">
			
            				<img width="270" height="226" src="./content/uploads/2015/06/5388654148_447f6f2289_o-270x226.jpg" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
			<div class="property-box-image-price">
    $ 90,000</div><!-- /.property-box-image-price -->

                        
            
                    </a>
    </div><!-- /.property-image -->

    <div class="property-box-content">
        <div class="property-box-title">
	        
            <h3><a href="./eaton-garth/">Eaton Garth</a></h3>

	                </div><!-- /.property-box-title -->

	    <div class="property-box-body">
		    
	        	        	            <div class="property-box-type">
	                Villa	            </div><!-- /.property-box-type -->
	        
	        	        	            <div class="property-box-price">
	                $ 90,000	            </div><!-- /.property-box-price -->
	        
		    <div class="property-box-read-more">
			    <a href="./eaton-garth/">Read More</a>
		    </div><!-- /.property-box-price -->

		    <div class="property-box-meta">
                <span class="property-box-meta-item property-box-meta-item-area">
            <i class="pp pp-normal-cursor-scale-up"></i> 350 sqft        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-beds">
            <i class="pp pp-normal-bed"></i> 2        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-baths">
            <i class="pp pp-normal-shower"></i> 1        </span><!-- /.property-box-meta-item -->
    </div><!-- /.property-box-meta -->
	    </div><!-- /.property-box-body -->
    </div><!-- /.property-box-content -->
</div>
				</div><!-- /.property-container -->

				
								
							</div><!-- /.properties-row -->
				</div>
	
	
</div>	</div><!-- /.content -->

		<div class="sidebar col-sm-4 col-md-3">
		

<div id="agents_widget-2" class="widget widget_agents_widget">

    <h2 class="widgettitle">	Agents    </h2>

	
	<div class="type-small item-per-row-1">
		
							<div class="agents-container">
				
<div class="agent-small">
	<div class="agent-small-inner">
		<div class="agent-small-image">
			<a href="./%da%a9%db%8c%d9%88%d8%a7%d9%86/" class="agent-small-image-inner">
							</a><!-- /.agent-small-image-inner -->
		</div><!-- /.agent-small-image -->

		<div class="agent-small-content">
			<h3 class="agent-small-title">
				<a href="./%da%a9%db%8c%d9%88%d8%a7%d9%86/">کیوان</a>
			</h3>

						
								</div><!-- /.agent-small-content -->
	</div><!-- /.agent-small-inner -->
</div><!-- /.agent-small -->
			</div><!-- /.property-container -->

			
								<div class="agents-container">
				
<div class="agent-small">
	<div class="agent-small-inner">
		<div class="agent-small-image">
			<a href="./evaristo/" class="agent-small-image-inner">
							</a><!-- /.agent-small-image-inner -->
		</div><!-- /.agent-small-image -->

		<div class="agent-small-content">
			<h3 class="agent-small-title">
				<a href="./evaristo/">Evaristo</a>
			</h3>

						
								</div><!-- /.agent-small-content -->
	</div><!-- /.agent-small-inner -->
</div><!-- /.agent-small -->
			</div><!-- /.property-container -->

			
								<div class="agents-container">
				
<div class="agent-small">
	<div class="agent-small-inner">
		<div class="agent-small-image">
			<a href="./andrew-man/" class="agent-small-image-inner">
									<img width="150" height="150" src="./content/uploads/2015/06/7446746056_f0d422d0b4_o-e1434118870928-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="ISO bestuur 2012-2013">							</a><!-- /.agent-small-image-inner -->
		</div><!-- /.agent-small-image -->

		<div class="agent-small-content">
			<h3 class="agent-small-title">
				<a href="./andrew-man/">Andrew Man</a>
			</h3>

										<div class="agent-small-email">
					<a href="mailto:info@example.com">info@example.com</a>
				</div><!-- /.agent-small-email -->
			
										<div class="agent-small-phone">
					+123-456-789				</div><!-- /.agent-small-phone -->
					</div><!-- /.agent-small-content -->
	</div><!-- /.agent-small-inner -->
</div><!-- /.agent-small -->
			</div><!-- /.property-container -->

			
					
			</div>


</div>

<div id="properties_widget-2" class="widget widget_properties_widget">

			<h2 class="widgettitle">		Properties		</h2>
	
			
		<div class="type-small item-per-row-1">
			
												<div class="property-container">
										
<div class="property-small">
	<div class="property-small-image ">
					<a href="./south-mervin-boulevard/">
				<img width="150" height="150" src="./content/uploads/2015/06/5388662544_96ca3f71c1_o-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="interiors">			</a>
			</div><!-- /.property-small-image -->

	<div class="property-small-content">
							<div class="property-small-type">
				Villa			</div><!-- /.property-small-type -->
		
		<h3 class="property-small-title">
			<a href="./south-mervin-boulevard/">South Mervin Boulevard</a>
		</h3><!-- /.property-small-title -->

							<div class="property-small-price">
				$ 220,000			</div><!-- /.property-small-price -->
			</div><!-- /.property-small-content -->
</div><!-- /.property-small -->
				</div><!-- /.property-container -->

				
												<div class="property-container">
										
<div class="property-small">
	<div class="property-small-image ">
					<a href="./north-parchmore-street/">
				<img width="150" height="150" src="./content/uploads/2015/06/5388661724_859d557469_o-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="interiors">			</a>
			</div><!-- /.property-small-image -->

	<div class="property-small-content">
							<div class="property-small-type">
				House			</div><!-- /.property-small-type -->
		
		<h3 class="property-small-title">
			<a href="./north-parchmore-street/">North Parchmore Street</a>
		</h3><!-- /.property-small-title -->

							<div class="property-small-price">
				$ 340,000			</div><!-- /.property-small-price -->
			</div><!-- /.property-small-content -->
</div><!-- /.property-small -->
				</div><!-- /.property-container -->

				
												<div class="property-container">
										
<div class="property-small">
	<div class="property-small-image ">
					<a href="./apricot-west-britford-arch/">
				<img width="150" height="150" src="./content/uploads/2015/06/5388658984_72f0ca75aa_o-1-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="interiors">			</a>
			</div><!-- /.property-small-image -->

	<div class="property-small-content">
							<div class="property-small-type">
				Apartment			</div><!-- /.property-small-type -->
		
		<h3 class="property-small-title">
			<a href="./apricot-west-britford-arch/">Apricot West Britford Arch</a>
		</h3><!-- /.property-small-title -->

							<div class="property-small-price">
				$ 125,000			</div><!-- /.property-small-price -->
			</div><!-- /.property-small-content -->
</div><!-- /.property-small -->
				</div><!-- /.property-container -->

				
								
						</div>
	
	
</div>	</div><!-- /.sidebar -->
</div><!-- /.row -->

			
        <div id="aviators_features_simple-3" class="widget widget_aviators_features_simple">
        <div class="">

            
            
            <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                                                        
                        <div class="feature-box">
                            <div class="feature-icon">
                                <i class="pp pp-normal-technology-screen-resolution"></i>
                            </div>

                            <div class="feature-content">
                                <h3>Responsive</h3>
                                <div class="feature-body">
                                    Fusce dignissim vitae ipsum a tristique. Praesent ut scelerisque ante, sit amet laoreet diam. Duis non neque id libero viverra                                 </div><!-- /.feature-body -->
                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div>
                                    <div class="col-sm-6 col-md-4">
                                                                        
                        <div class="feature-box">
                            <div class="feature-icon">
                                <i class="pp pp-normal-test-tube"></i>
                            </div>

                            <div class="feature-content">
                                <h3>Perfect Code</h3>
                                <div class="feature-body">
                                    Fusce dignissim vitae ipsum a tristique. Praesent ut scelerisque ante, sit amet laoreet diam. Duis non neque id libero viverra                                 </div><!-- /.feature-body -->
                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div>
                                    <div class="col-sm-6 col-md-4">
                                                                        
                        <div class="feature-box">
                            <div class="feature-icon">
                                <i class="pp pp-normal-mobile-phone"></i>
                            </div>

                            <div class="feature-content">
                                <h3>REST API</h3>
                                <div class="feature-body">
                                    Fusce dignissim vitae ipsum a tristique. Praesent ut scelerisque ante, sit amet laoreet diam. Duis non neque id libero viverra                                 </div><!-- /.feature-body -->
                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div>
                                    <div class="col-sm-6 col-md-4">
                                                                        
                        <div class="feature-box">
                            <div class="feature-icon">
                                <i class="pp pp-normal-graph-uptrend"></i>
                            </div>

                            <div class="feature-content">
                                <h3>Performance</h3>
                                <div class="feature-body">
                                    Fusce dignissim vitae ipsum a tristique. Praesent ut scelerisque ante, sit amet laoreet diam. Duis non neque id libero viverra                                 </div><!-- /.feature-body -->
                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div>
                                    <div class="col-sm-6 col-md-4">
                                                                        
                        <div class="feature-box">
                            <div class="feature-icon">
                                <i class="pp pp-normal-coins"></i>
                            </div>

                            <div class="feature-content">
                                <h3>Monetization</h3>
                                <div class="feature-body">
                                    Fusce dignissim vitae ipsum a tristique. Praesent ut scelerisque ante, sit amet laoreet diam. Duis non neque id libero viverra                                 </div><!-- /.feature-body -->
                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div>
                                    <div class="col-sm-6 col-md-4">
                                                                        
                        <div class="feature-box">
                            <div class="feature-icon">
                                <i class="pp pp-normal-float-wheel"></i>
                            </div>

                            <div class="feature-content">
                                <h3>Support</h3>
                                <div class="feature-body">
                                    Fusce dignissim vitae ipsum a tristique. Praesent ut scelerisque ante, sit amet laoreet diam. Duis non neque id libero viverra                                 </div><!-- /.feature-body -->
                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div>
                            </div><!-- /.clearfix -->
        </div><!-- /.div -->

        </div>
        <div id="property_carousel_widget-2" class="widget widget_property_carousel_widget">
		    <div class="owl-carousel owl-theme">
			    <div class="item"><h4>1</h4></div>
			    <div class="item"><h4>2</h4></div>
			    <div class="item"><h4>3</h4></div>
			    <div class="item"><h4>4</h4></div>
			    <div class="item"><h4>5</h4></div>
			    <div class="item"><h4>6</h4></div>
			    <div class="item"><h4>7</h4></div>
			    <div class="item"><h4>8</h4></div>
			    <div class="item"><h4>9</h4></div>
			    <div class="item"><h4>10</h4></div>
			    <div class="item"><h4>11</h4></div>
			    <div class="item"><h4>12</h4></div>
			</div>
        </div>
	<script>
		jQuery(document).ready(function($) {
			$('.owl-carousel').owlCarousel({
			    loop:true,
			    margin:10,
			    responsiveClass:true,
			    nav:true,
			    responsive:{
			        0:{
			            items:1,
			            nav:true
			        },
			        600:{
			            items:3,
			            nav:false
			        },
			        1000:{
			            items:5,
			            nav:true,
			            loop:false
			        }
			    }
			})
		});
	</script>

<div id="partners_widget-3" class="widget widget_partners_widget">



	<div class="item-per-row-5">
					<div class="partners-row">
		
							<div class="partners-container">
									<div class="partner-featured-image">
						<a href="#">
							<img width="226" height="53" src="./content/uploads/2015/06/logo4.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="logo4">						</a>
					</div><!-- /.partner-featured-image -->
							</div><!-- /.partners-container -->

			
								<div class="partners-container">
									<div class="partner-featured-image">
						<a href="#">
							<img width="100" height="92" src="./content/uploads/2015/06/logo5.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="logo5">						</a>
					</div><!-- /.partner-featured-image -->
							</div><!-- /.partners-container -->

			
								<div class="partners-container">
									<div class="partner-featured-image">
						<a href="#">
							<img width="170" height="62" src="./content/uploads/2015/06/logo2.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="logo2">						</a>
					</div><!-- /.partner-featured-image -->
							</div><!-- /.partners-container -->

			
								<div class="partners-container">
									<div class="partner-featured-image">
						<a href="#">
							<img width="127" height="93" src="./content/uploads/2015/06/logo3.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="logo3">						</a>
					</div><!-- /.partner-featured-image -->
							</div><!-- /.partners-container -->

			
								<div class="partners-container">
									<div class="partner-featured-image">
						<a href="#">
							<img width="123" height="113" src="./content/uploads/2015/06/logo1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="logo1">						</a>
					</div><!-- /.partner-featured-image -->
							</div><!-- /.partners-container -->

			
					
					</div><!-- /.properties-row -->
			</div>


</div>
        <div id="aviators_features_circles-2" class="widget widget_aviators_features_circles">
        <div class="fullwidth background-white">
            <div class="row">
                                                                                                                    
                    <div class="feature-wrapper col-sm-4">
                        <div class="feature-box">
                            <div class="feature-icon">
                                <i class="pp pp-normal-pointer"></i>
                            </div>

                            <div class="feature-content">
                                <h3>Search</h3>

                                <div class="feature-body">
                                    Aliquam lacus ligula, dignissim sed egestas in, faucibus vitae nibh. Nulla facilisi.                                </div><!-- /.feature-body -->

                                                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div><!-- /.feature-wrapper -->
                                                                                                                    
                    <div class="feature-wrapper col-sm-4">
                        <div class="feature-box">
                            <div class="feature-icon">
                                <i class="pp pp-normal-mobile-phone"></i>
                            </div>

                            <div class="feature-content">
                                <h3>REST API</h3>

                                <div class="feature-body">
                                    Aliquam lacus ligula, dignissim sed egestas in, faucibus vitae nibh. Nulla facilisi.                                </div><!-- /.feature-body -->

                                                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div><!-- /.feature-wrapper -->
                                                                                                                    
                    <div class="feature-wrapper col-sm-4">
                        <div class="feature-box">
                            <div class="feature-icon">
                                <i class="pp pp-normal-map"></i>
                            </div>

                            <div class="feature-content">
                                <h3>Google Maps</h3>

                                <div class="feature-body">
                                    Aliquam lacus ligula, dignissim sed egestas in, faucibus vitae nibh. Nulla facilisi.                                </div><!-- /.feature-body -->

                                                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div><!-- /.feature-wrapper -->
                            </div><!-- /.clearfix -->
        </div><!-- /.div -->

        </div>
    
        <div id="aviators_call_to_action-2" class="widget widget_aviators_call_to_action">
        <div class="fullwidth background-secondary">
            <div class="row">
                <div class="call-to-action-text col-sm-12 col-md-9">
                    Powered by real estate <b>Happy Real</b> plugin                </div>
                <div class="col-sm-12 col-md-3">
                    <a href="https://wordpress.org/plugins/realia" class="btn btn-primary">
                        Check plugin at WordPress.org                    </a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.fullwidth -->

        </div>
    		</div><!-- /.container -->
	</div><!-- /.main -->

	<div class="footer">
					<div class="footer-top">
				<div class="container">
					<div class="footer-top-inner">
						<div class="row">
															<div class="widget-container col-sm-6 col-md-3">
									
        <div id="aviators_features-2" class="widget widget_aviators_features">
        <div class="">

                            <h2 class="widgettitle">
                    Theme Features                </h2><!-- /.widgettitle -->
            
            
            <div class="clearfix">
                                                                            
                    <div class="feature-box">
                        <div class="feature-icon">
                            <i class="pp pp-normal-star"></i>
                        </div>

                        <div class="feature-content">
                            <h3>Top Notch Real Estate</h3>
                            <div class="feature-body">
                                Sed tempus nisl ac pretium tempor. Nulla ut est malesuada                            </div><!-- /.feature-body -->
                        </div><!-- /.feature-content -->
                    </div><!-- /.feature-box -->
                                                                            
                    <div class="feature-box">
                        <div class="feature-icon">
                            <i class="pp pp-normal-technology-screen-size"></i>
                        </div>

                        <div class="feature-content">
                            <h3>Responsive</h3>
                            <div class="feature-body">
                                Sed tempus nisl ac pretium tempor. Nulla ut est malesuada                            </div><!-- /.feature-body -->
                        </div><!-- /.feature-content -->
                    </div><!-- /.feature-box -->
                                                                            
                    <div class="feature-box">
                        <div class="feature-icon">
                            <i class="pp pp-normal-test-tube"></i>
                        </div>

                        <div class="feature-content">
                            <h3>Perfect Code</h3>
                            <div class="feature-body">
                                Sed tempus nisl ac pretium tempor. Nulla ut est malesuada                            </div><!-- /.feature-body -->
                        </div><!-- /.feature-content -->
                    </div><!-- /.feature-box -->
                            </div><!-- /.clearfix -->
        </div><!-- /.div -->

        </div>
    								</div>
							
															<div class="widget-container col-sm-6 col-md-3">
									<div id="text-3" class="widget widget_text"><h2 class="widgettitle">Contact Information</h2>
			<div class="textwidget">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum.  
<dl>
<dt><i class="pp pp-normal-map-pointer"></i> 795 South Park Avenue</dt><dd>Melbourne, Australia</dd>
<dt><i class="pp pp-normal-phone"></i> +440 875369208</dt><dd>support@sitename.com</dd>
<dt><i class="pp pp-normal-clock"></i> Monday - Friday</dt><dd>9:00 - 17:00</dd>
</dl></div>
		</div>								</div>
							
															<div class="widget-container col-sm-6 col-md-3">
									<div id="nav_menu-3" class="widget widget_nav_menu"><h2 class="widgettitle">Quick Links</h2>
<div class="menu-quick-links-container"><ul id="menu-quick-links" class="menu"><li id="menu-item-501" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-501"><a href="./">Contact</a></li>
<li id="menu-item-502" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-502"><a href="./">Transactions</a></li>
<li id="menu-item-503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503"><a href="./property/">Create Property</a></li>
<li id="menu-item-504" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-504"><a href="./properties/">My Properties</a></li>
<li id="menu-item-505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-505"><a href="./">Register</a></li>
<li id="menu-item-506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-506"><a href="./">Login</a></li>
</ul></div></div>								</div>
							
															<div class="widget-container col-sm-6 col-md-3">
									<div id="text-4" class="widget widget_text"><h2 class="widgettitle">Contact Form</h2>
			<div class="textwidget"><div role="form" class="wpcf7" id="wpcf7-f554-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/theme/HappyReal/?fbclid=IwAR1Na500MHKnbIueVl7oeqegxPrp6gtbVko7PkVcmmu0FjVl31kHJ1RjIXQ#wpcf7-f554-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="554">
<input type="hidden" name="_wpcf7_version" value="4.3.1">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f554-o1">
<input type="hidden" name="_wpnonce" value="2d251a4f2e">
</div>
<div class="form-group">
   <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Your Name"></span>
</div>
<div class="form-group">
   <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Your E-mail"></span>
</div>
<div class="form-group">
   <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="6" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Message"></textarea></span>
</div>
<div class="form-group">
   <input type="submit" class="btn btn-secondary pull-right" value="Send">
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div>
		</div>								</div>
													</div><!-- /.row -->
					</div><!-- /.footer-bottom-inner -->
				</div><!-- /.container -->
			</div><!-- /.footer-top -->
		
					<div class="footer-bottom">
				<div class="container">
					<div class="footer-bottom-inner">
																					<div class="footer-bottom-left">
									<div id="text-2" class="widget widget_text">			<div class="textwidget">© All rights reserved <span class="separator">/</span> Created by <a href="http://byaviators.com">Aviators</a> <span class="separator">/</span> Powered by <a href="http://wprealia.com">Happy Real</a></div>
		</div>								</div><!-- /.footer-bottom-left -->
							
															<div class="footer-bottom-right">
									<div id="nav_menu-2" class="widget widget_nav_menu"><div class="menu-footer-container"><ul id="menu-footer" class="menu"><li id="menu-item-534" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-534"><a href="./ome</a></li>
<li id="menu-item-532" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-532"><a href="/theme/HappyReal/properties">Properties</a></li>
<li id="menu-item-533" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-533"><a href="/theme/HappyReal/agencies">Agencies</a></li>
<li id="menu-item-535" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-535"><a href="/theme/HappyReal/agents">Agents</a></li>
</ul></div></div>								</div><!-- /.footer-bottom-left -->
																		</div><!-- /.footer-bottom-inner -->
				</div><!-- /.container -->
			</div><!-- /.footer-bottom -->
			</div><!-- /.footer -->
</div><!-- /.page-wrapper -->

<!-- <script type="text/javascript" src="./content/plugins/HappyReal/libraries/jquery-google-map/infobox.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal/libraries/jquery-google-map/markerclusterer.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal/libraries/mapescape/js/mapescape.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal/libraries/jquery-google-map/jquery-google-map.js?ver=0.8.6"></script> -->
<script type="text/javascript" src="./content/plugins/HappyReal/assets/js/realia.js?ver=1.2.1"></script>
<script type="text/javascript" src="./content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/preview.byaviators.com\/theme\/realia\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ..."};
/* ]]> */
</script>
<script type="text/javascript" src="./content/plugins/contact-form-7/includes/js/scripts.js?ver=4.3.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal-favorites/assets/js/HappyReal-favorites.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal-property-carousel/libraries/owl.carousel/owl.carousel.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/themes/HappyReal/assets/libraries/colorbox/jquery.colorbox-min.js?ver=4.4.1"></script>
<script type="text/javascript" src="./includes/js/wp-embed.min.js?ver=4.4.1"></script>


<div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><button type="button" id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button id="cboxSlideshow"></button><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div></div></body></html>