<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bất Động Sản</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<div><img src="logo" alt="logo"></div>
		<div><i class="fa fa-bars"></i></div>
	</header>
	<div class="menu-hidden">
		<ul>
			<li><a href="">Home</a></li>
		</ul>
		<ul>
			<li><a href="">Properties</a></li>
		</ul>
		<ul>
			<li><a href="">Pages</a></li>
		</ul>
		<ul>
			<li><a href="">Submission</a></li>
		</ul>
		<ul>
			<li><a href="">Contact</a></li>
		</ul>
	</div>
	<div class="map">
		
	</div>
	<div class="filter">
		<div class="filter-function">
			<ul>
				<li><a href="">Rent</a></li>
			</ul>
			<ul>
				<li><a href="">Sale</a></li>
			</ul>
			<ul>
				<li><a href="">Top</a></li>
			</ul>
			<ul>
				<li><a href="">Sold</a></li>
			</ul>
			<ul>
				<li><a href="">Rediced</a></li>
			</ul>
			<ul>
				<li><a href="">Featured</a></li>
			</ul>
			<ul>
				<li><a href="">All properties</a></li>
			</ul>
		</div>
		<div class="filter-input">
			<ul>
				<select class="filter-input-getvalue" name="" id="">
					<option value="">Location</option>
				</select>
			</ul>
			<ul>
				<select class="filter-input-getvalue" name="" id="">
					<option value="">Propetty type</option>
				</select>
			</ul>
			<ul>
				<input class="filter-input-getvalue" type="text" placeholder="Price from">
			</ul>
			<ul>
				<input class="filter-input-getvalue" type="text" placeholder="Price to">
			</ul>
			<ul>
				<button class="filter-input-submit">Filter</button>
			</ul>
		</div>
	</div>
	<div class="recentproperties">
		<h5>Recent Properties</h5>
		<div class="recentproperties-container">
			<img class="recentproperties-container-img" src="" alt="">
			<h6 class="recentproperties-container-title">South Celler Court</h6>
			<p class="recentproperties-container-info">Building area</p>
			<div class="recentproperties-container-span">
				<span> 160 sqft</span>
				<span>5</span>
				<span>4</span>
			</div>
		</div>
	</div>
	<div class="agents">
		<div>
			<ul></ul>
			<ul></ul>
			<ul></ul>
		</div>
		<h6>Properties</h6>
		<div class="agents-properties">
			<div class="agents-top">
				<img src="" alt="">
				<h6></h6>
				<span></span>
			</div>
		</div>
	</div>
	<div class="function">
		<div>
			<ul>
				<i></i>
			</ul>
			<ul>
				<h5>Responsive</h5>
				<p>Fusce dignissim vitae ipsum a tristique. Praesent ut scelerisque ante, sit amet laoreet diam. Duis non neque id libero viverra</p>
			</ul>
		</div>
	</div>
	<div class="slide">
		
	</div>
	<div class="brand">
		<img src="./images/logo1.png" alt="logo1">
		<img src="./images/logo2.png" alt="logo2">
		<img src="./images/logo3.png" alt="logo3">
		<img src="./images/logo4.png" alt="logo4">
		<img src="./images/logo5.png" alt="logo5">
	</div>
	<div class="api">
		<img src="" alt="">
		<h3>Search</h3>
		<p>Aliquam lacus ligula, dignissim sed egestas in, faucibus vitae nibh. Nulla facilisi.</p>
	</div>
	<div class="email">
		<h1>Powered by real estate Realia plugin</h1>
		<button>Check plugin at</button>
	</div>
	<div class="infocompany">
		<h4>Contact Information</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolorem recusandae similique facilis debitis eos, vitae officia, eligendi dolores iste tenetur accusantium magni! Alias id ad sit, qui, nemo eius!</p>
		<h6>Địa chỉ</h6>
		<h6>Địa chỉ</h6>
		<h6>Địa chỉ</h6>
		<a href="">Quick Links</a>
	</div>
	<div class="submenu">
		
	</div>
	<div class="contactform">
		<input type="text">
		<input type="text">
		<input type="text">
		<button>Send</button>
	</div>
	<footer>
		© All rights
		<div class="lastmenu">
			<ul>
				<li><a href=""></a></li>
			</ul>
			<ul>
				<li><a href=""></a></li>
			</ul>
			<ul>
				<li><a href=""></a></li>
			</ul>
			<ul>
				<li><a href=""></a></li>
			</ul>
		</div>
	</footer>
</body>
</html>